body {
    /*background-color: #2196f3;*/
    background: bottom / cover no-repeat url('../img/bg.png');
}

.header {
    /*background: bottom / cover no-repeat url('../img/bg.png');*/
    color: #fff;
    text-align: center;
    padding: 3rem;
}

.footer {
    /*background: bottom / cover no-repeat url(../img/bg.png);*/
    padding: 2rem;
    color: #fff;
    text-align: center;
}